# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vscode/tasks.json
.vscode/launch.json
VJudge/Lista 1 - Introdução ao C++/A-chmin
VJudge/Lista 1 - Introdução ao C++/B-Seats2
VJudge/Lista 1 - Introdução ao C++/C-MissingNumber
VJudge/Lista 2 - Ordenação e Busca Binária /A-MovieFestival
VJudge/Lista 2 - Ordenação e Busca Binária /B-SumOfTwoValues
