# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vscode/tasks.json
.vscode/launch.json
VJudge/Lista 1 - Introdução ao C++/A-chmin
VJudge/Lista 1 - Introdução ao C++/B-Seats2
VJudge/Lista 1 - Introdução ao C++/C-MissingNumber
VJudge/Lista 2 - Ordenação e Busca Binária /A-MovieFestival
VJudge/Lista 2 - Ordenação e Busca Binária /B-SumOfTwoValues
VJudge/Lista 2 - Ordenação e Busca Binária /C-FactoryMachines
VJudge/Lista 2 - Ordenação e Busca Binária /D-Apartments
VJudge/Lista 2 - Ordenação e Busca Binária /E-FerrisWheel
VJudge/Lista 2 - Ordenação e Busca Binária /F-ArrayDivision
VJudge/Lista 3 - Greedy & Two Pointers /A-SubarraySumsI
VJudge/Lista 3 - Greedy & Two Pointers /B-SubarraySumsII
VJudge/Lista 3 - Greedy & Two Pointers /C-EnoughArray
VJudge/Lista 3 - Greedy & Two Pointers /D-LongestX
VJudge/Lista 3 - Greedy & Two Pointers /E-SumOfThreeValues
CODEFORCES/C-GoodPrefixes/C-GoodPrefixes
CODEFORCES/D-XSum/D-XSum
Kattis/MissingNumber/MissingNumber
CODEFORCES/A-WayTooLongWords/A-WayTooLongWords
CODEFORCES/4/A-Watermelon/A-Watermelon
CODEFORCES/231/A-Team
Kattis/Get Shorty/GetShorty
CODEFORCES/282/A-B++
Kattis/A Shortcut to What?/AShortcutToWhat?
CODEFORCES/1747/A-TwoGroups
CODEFORCES/CONTEST 1090/A-The67thIntegerProblem
CODEFORCES/CONTEST 1090/B-The67th6-7IntegerProblem
CODEFORCES/CONTEST 1090/C-The67thPermutationProblem
CODEFORCES/CONTEST 1090/D-The67thOEISProblem
Kattis/Concatenate/Concatenate
CODEFORCES/50/A-DominoPiling
Kattis/Challenge/Challenge
Kattis/Challenge (Betting)/Challenge
CODEFORCES/158/A-NextRound
CODEFORCES/263/A-BeautifulMatrix
Kattis/Challenge (Eulerian Graphs 2)/Challenge
